.header-block {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    &--center {
        align-items: center;
    }

    &--right {
        align-items: end;
    }

    &__description {
        max-width: 64rem;
        font-size: var(--fz);
        font-weight: 200;
        border-left: 2px solid var(--theme);
        padding-left: 2rem;
    }

    &__subtitle {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 400;
        border-left: 2px solid var(--theme);
        padding-left: 2rem;
    }

    &__title {
        font-size: 4rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    @media(max-width: 576px) {
        &__subtitle {
            text-align: center;
        }

        &__title {
            text-align: center;
        }

    }
}

.first-slide {
    &__wrapper {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
    }

    &__label {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 120px;
        gap: 2rem;
    }

    &__item {
        width: 210px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:first-child {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 1;
            grid-row-end: 4;
        }

        &:nth-child(2) {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        &:nth-child(3) {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 4;
            grid-row-end: 5;
        }

        &:last-child {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 5;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
    }
}

.about {
    &__wrapper {
        display: flex;
        gap: 5rem;
    }

    &__label {
        display: flex;
        flex-direction: column;
        width: 60%;
        justify-content: space-between;
    }

    &__content {
        margin-top: 8rem;
        display: flex;
        gap: 3rem;
    }

    &__item {
        display: flex;
        gap: 3rem;
        justify-content: flex-start;
    }

    &__number {
        font-size: 7rem;
        font-weight: 600;
        color: var(--theme);
        line-height: 90%;
        width: 20%;
    }

    &__items {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__text {
        width: 50%
    }

    &__photo {
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__stample {
        position: absolute;
        top: -8rem;
        left: -8rem;
    }

    &__blur {
        position: absolute;
        background-color: transparent;
        backdrop-filter: blur(15px);
        width: 90%;
        height: 20rem;
        left: 10%;
        bottom: -10rem;
    }

}