.header {
    display: flex;
    align-items: center;
    padding-bottom: 8rem;

    &__logo {
        font-size: 2rem;
        color: var(--theme);
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icons {
        display: flex;
        gap: 2rem;
    }

    &__icon {
        height: 40px;
        width: 40px;
        background-color: var(--theme);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;

        &:hover {
            font-size: 2.3rem;
        }
    }



}

.nav {

    margin-top: 1rem;

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    &__item {
        color: var(--light);
        font-weight: 400;
        padding: 2rem 0;
    }
}