@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
	font-size: 0.4vw;
	font-family: var(--font);
}

/* Указываем box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
	padding: 0;
}

body {
	font-family: var(--font);
	font-size: var(--fz);
	font-weight: 300;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

h5,
.h5,
h6,
.h6 {
	font-weight: 400;
}

a,
a:visited {
	color: inherit;
	text-decoration: none;
	transition: 0.2s;
	cursor: pointer;
}

a.underline,
a:visited.underline {
	color: var(--blue);
	border-bottom: 1px dashed var(--blue-focus);
}

a.underline:hover,
a:visited.underline:hover {
	color: var(--red);
	border-color: var(--red-focus);
}

a.focus:focus,
a:visited.focus:focus {
	box-shadow: 0 0 0 4px var(--focus);
}

a.text-color,
a:visited.text-color {
	color: var(--text);
}

a.more,
a:visited.more {
	font-weight: 500;
	display: flex;
	align-items: baseline;
	border-bottom: 1px dashed transparent;
	width: fit-content;
}

a.more span,
a:visited.more span {
	margin-left: 1rem;
	font-size: 70%;
	transition: 0.3s;
}

a.more:hover,
a:visited.more:hover {
	border-color: var(--theme);
	color: var(--dark);
}

a.more:hover span,
a:visited.more:hover span {
	transform: translateX(50%);
}

a.text,
a:visited.text {
	color: var(--text);
}

a.text:hover,
a:visited.text:hover {
	color: var(--theme);
}

a.db,
a:visited.db {
	display: block;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
	list-style: none;
}

button,
input,
textarea {
	font-family: var(--font);
}

section {
	position: relative;
	padding-bottom: 10rem;
}

section:not(:first-child) {
	padding-top: 10rem;
}

section:nth-child(5) {
	overflow: hidden;
}

footer {
	padding: 8rem 0;
}

text {
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 6px;
	fill: var(--theme);
	font-weight: 500;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	padding: 1.5rem 2.5rem;
	border: none;
	font-size: 1.3rem;
	cursor: pointer;
	font-weight: 300;
	background-color: var(--theme);
	color: #fff;
}

.button--lg-text {
	font-size: 1.7rem;
}

.button--light {
	background-color: #eeeeef;
	font-size: 1.3rem;
	border: none;
	padding: 1.5rem 2rem;
}

.button--light:hover {
	font-size: 1.4rem;
}

.button__icon {
	margin-left: 2.5rem;
}

.button:hover {
	font-size: 1.4rem;
}

.button:visited {
	color: #fff;
}

.gm-dark {
	background-color: var(--gray);
}

.gm-article {
	margin-bottom: 8rem;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
	margin-top: 1em;
}

.article:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup) {
	margin-bottom: 2rem;
}

.article:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bm {
	margin-bottom: 3rem;
}

.article:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn) {
	border-bottom: 1px solid var(--border);
	padding-bottom: 2rem;
}

.article:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).bm {
	padding-bottom: 3rem;
}

.article:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).small-pb {
	padding-bottom: 1rem;
}

.article:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).mt {
	margin-top: auto;
}

.article.all-mb > *:not(.mb0) {
	margin-bottom: 2rem;
}

.article.all-mb > *:not(.mb0).bm {
	margin-bottom: 3rem;
}

.article.all-mb > *:not(.mb0).bordered {
	border-bottom: 1px solid var(--border);
	padding-bottom: 2rem;
}

.article.all-mb > *:not(.mb0).bordered.bm {
	padding-bottom: 3rem;
}

.article.half {
	width: var(--article-half);
}

.article.center {
	width: var(--article-half);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.article-mc:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup) {
	margin-bottom: 0.3rem;
}

.article-mc:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bm {
	margin-bottom: 0.6rem;
}

.article-mc:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn) {
	border-bottom: 1px solid var(--border);
	padding-bottom: 0.3rem;
}

.article-mc:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).bm {
	padding-bottom: 0.6rem;
}

.article-mc:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).small-pb {
	padding-bottom: 0.15rem;
}

.article-mc:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).mt {
	margin-top: auto;
}

.article-mc.all-mb > *:not(.mb0) {
	margin-bottom: 0.3rem;
}

.article-mc.all-mb > *:not(.mb0).bm {
	margin-bottom: 0.6rem;
}

.article-mc.all-mb > *:not(.mb0).bordered {
	border-bottom: 1px solid var(--border);
	padding-bottom: 0.3rem;
}

.article-mc.all-mb > *:not(.mb0).bordered.bm {
	padding-bottom: 0.6rem;
}

.article-mc.half {
	width: var(--article-half);
}

.article-mc.center {
	width: var(--article-half);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.article-sm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup) {
	margin-bottom: 1rem;
}

.article-sm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bm {
	margin-bottom: 2rem;
}

.article-sm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn) {
	border-bottom: 1px solid var(--border);
	padding-bottom: 1rem;
}

.article-sm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).bm {
	padding-bottom: 2rem;
}

.article-sm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).small-pb {
	padding-bottom: 0.5rem;
}

.article-sm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).mt {
	margin-top: auto;
}

.article-sm.all-mb > *:not(.mb0) {
	margin-bottom: 1rem;
}

.article-sm.all-mb > *:not(.mb0).bm {
	margin-bottom: 2rem;
}

.article-sm.all-mb > *:not(.mb0).bordered {
	border-bottom: 1px solid var(--border);
	padding-bottom: 1rem;
}

.article-sm.all-mb > *:not(.mb0).bordered.bm {
	padding-bottom: 2rem;
}

.article-sm.half {
	width: var(--article-half);
}

.article-sm.center {
	width: var(--article-half);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.article-nm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup) {
	margin-bottom: 1.5rem;
}

.article-nm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bm {
	margin-bottom: 2.5rem;
}

.article-nm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn) {
	border-bottom: 1px solid var(--border);
	padding-bottom: 1.5rem;
}

.article-nm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).bm {
	padding-bottom: 2.5rem;
}

.article-nm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).small-pb {
	padding-bottom: 0.75rem;
}

.article-nm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).mt {
	margin-top: auto;
}

.article-nm.all-mb > *:not(.mb0) {
	margin-bottom: 1.5rem;
}

.article-nm.all-mb > *:not(.mb0).bm {
	margin-bottom: 2.5rem;
}

.article-nm.all-mb > *:not(.mb0).bordered {
	border-bottom: 1px solid var(--border);
	padding-bottom: 1.5rem;
}

.article-nm.all-mb > *:not(.mb0).bordered.bm {
	padding-bottom: 2.5rem;
}

.article-nm.half {
	width: var(--article-half);
}

.article-nm.center {
	width: var(--article-half);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.article-md:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup) {
	margin-bottom: 3rem;
}

.article-md:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bm {
	margin-bottom: 4rem;
}

.article-md:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn) {
	border-bottom: 1px solid var(--border);
	padding-bottom: 3rem;
}

.article-md:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).bm {
	padding-bottom: 4rem;
}

.article-md:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).small-pb {
	padding-bottom: 1.5rem;
}

.article-md:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).mt {
	margin-top: auto;
}

.article-md.all-mb > *:not(.mb0) {
	margin-bottom: 3rem;
}

.article-md.all-mb > *:not(.mb0).bm {
	margin-bottom: 4rem;
}

.article-md.all-mb > *:not(.mb0).bordered {
	border-bottom: 1px solid var(--border);
	padding-bottom: 3rem;
}

.article-md.all-mb > *:not(.mb0).bordered.bm {
	padding-bottom: 4rem;
}

.article-md.half {
	width: var(--article-half);
}

.article-md.center {
	width: var(--article-half);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.article-bg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup) {
	margin-bottom: 4rem;
}

.article-bg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bm {
	margin-bottom: 5rem;
}

.article-bg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn) {
	border-bottom: 1px solid var(--border);
	padding-bottom: 4rem;
}

.article-bg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).bm {
	padding-bottom: 5rem;
}

.article-bg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).small-pb {
	padding-bottom: 2rem;
}

.article-bg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).mt {
	margin-top: auto;
}

.article-bg.all-mb > *:not(.mb0) {
	margin-bottom: 4rem;
}

.article-bg.all-mb > *:not(.mb0).bm {
	margin-bottom: 5rem;
}

.article-bg.all-mb > *:not(.mb0).bordered {
	border-bottom: 1px solid var(--border);
	padding-bottom: 4rem;
}

.article-bg.all-mb > *:not(.mb0).bordered.bm {
	padding-bottom: 5rem;
}

.article-bg.half {
	width: var(--article-half);
}

.article-bg.center {
	width: var(--article-half);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.article-lg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup) {
	margin-bottom: 6rem;
}

.article-lg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bm {
	margin-bottom: 7rem;
}

.article-lg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn) {
	border-bottom: 1px solid var(--border);
	padding-bottom: 6rem;
}

.article-lg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).bm {
	padding-bottom: 7rem;
}

.article-lg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).small-pb {
	padding-bottom: 3rem;
}

.article-lg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).mt {
	margin-top: auto;
}

.article-lg.all-mb > *:not(.mb0) {
	margin-bottom: 6rem;
}

.article-lg.all-mb > *:not(.mb0).bm {
	margin-bottom: 7rem;
}

.article-lg.all-mb > *:not(.mb0).bordered {
	border-bottom: 1px solid var(--border);
	padding-bottom: 6rem;
}

.article-lg.all-mb > *:not(.mb0).bordered.bm {
	padding-bottom: 7rem;
}

.article-lg.half {
	width: var(--article-half);
}

.article-lg.center {
	width: var(--article-half);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container {
	width: 70vw;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
}

@media (max-width: 321px) {
	.container {
		max-width: 100vw;
	}
	html {
		font-size: 3vw;
	}
}

@media (min-width: 321px) and (max-width: 576px) {
	.container {
		max-width: 100vw;
	}
	html {
		font-size: 2.4vw;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.container {
		max-width: 98vw;
	}
	html {
		font-size: 1.64vw;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.container {
		max-width: 98vw;
	}
	html {
		font-size: 1.12vw;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.container {
		max-width: 98vw;
	}
	html {
		font-size: 0.78vw;
	}
}

@media (min-width: 1200px) and (max-width: 1599.98px) {
	.container {
		max-width: 96vw;
	}
	html {
		font-size: 0.78vw;
	}
}

@media (min-width: 1600px) {
	.container {
		max-width: 80vw;
	}
	html {
		font-size: 0.70vw;
	}
}

:root {
	--font: Montserrat,
    sans-serif;
	--fz: 1.5rem;
	--small: calc(var(--fz) * 0.9);
	--v-small: calc(var(--fz) * 0.8);
	--large: calc(var(--fz) * 1.1);
	--v-large: calc(var(--fz) * 1.2);
	--theme: #024a85;
	--text: #0f0d0d;
	--light: #99999b;
	--dark: #000000;
	--gray: #eeeeef;
	--large: calc(var(--fz) * 1.1);
}

@font-face {
	font-family: 'icomoon';
	src: url("../fonts/icomoon.eot?xw074k");
	src: url("../fonts/icomoon.eot?xw074k#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.svg?xw074k#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
.checkbox label:before,
.small-accord h5:before,
.large-accords .accord-header:after {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-left-menu:before {
	content: "\e900";
}

.icon-display:before {
	content: "\e901";
}

.icon-case:before {
	content: "\e902";
}

.icon-business:before {
	content: "\e903";
}

.icon-rocket:before {
	content: "\e904";
}

.icon-coin:before {
	content: "\e905";
}

.icon-reply-left:before {
	content: "\e906";
}

.icon-reply-right:before {
	content: "\e907";
}

.icon-seo:before {
	content: "\e908";
}

.icon-view-list:before {
	content: "\e909";
}

.icon-folder-open:before {
	content: "\e90a";
}

.icon-upload:before {
	content: "\e90b";
}

.icon-folder:before {
	content: "\e90c";
}

.icon-download:before {
	content: "\e90d";
}

.icon-place:before {
	content: "\e90e";
}

.icon-light:before {
	content: "\e90f";
}

.icon-dark:before {
	content: "\e910";
}

.icon-arrow-down:before {
	content: "\e911";
}

.icon-arrow-up:before {
	content: "\e912";
}

.icon-arrow-right:before {
	content: "\e913";
}

.icon-arrow-left:before {
	content: "\e914";
}

.icon-up:before {
	content: "\e915";
}

.icon-login:before {
	content: "\e916";
}

.icon-left:before {
	content: "\e917";
}

.icon-right:before {
	content: "\e918";
}

.icon-down:before,
.large-accords .accord-header:after {
	content: "\e919";
}

.icon-drag:before {
	content: "\e91a";
}

.icon-bookmark:before {
	content: "\e91b";
}

.icon-power:before {
	content: "\e91c";
}

.icon-code:before {
	content: "\e91d";
}

.icon-chat:before {
	content: "\e91e";
}

.icon-history:before {
	content: "\e91f";
}

.icon-user:before {
	content: "\e920";
}

.icon-open:before {
	content: "\e921";
}

.icon-error:before {
	content: "\e922";
}

.icon-dashboard:before {
	content: "\e923";
}

.icon-like:before {
	content: "\e924";
}

.icon-event:before {
	content: "\e925";
}

.icon-help:before {
	content: "\e926";
}

.icon-internet:before {
	content: "\e927";
}

.icon-time:before {
	content: "\e928";
}

.icon-lock:before {
	content: "\e929";
}

.icon-fav-solid:before {
	content: "\e92a";
}

.icon-fav:before {
	content: "\e92b";
}

.icon-document:before {
	content: "\e92c";
}

.icon-logout:before {
	content: "\e92d";
}

.icon-show:before {
	content: "\e92e";
}

.icon-cart:before {
	content: "\e92f";
}

.icon-trash:before {
	content: "\e930";
}

.icon-success:before {
	content: "\e931";
}

.icon-warning:before {
	content: "\e932";
}

.icon-check:before {
	content: "\e933";
}

.icon-settings:before {
	content: "\e934";
}

.icon-avatar:before {
	content: "\e935";
}

.icon-home:before {
	content: "\e936";
}

.icon-search:before {
	content: "\e937";
}

.icon-inventory:before {
	content: "\e938";
}

.icon-text:before {
	content: "\e939";
}

.icon-inbox:before {
	content: "\e93a";
}

.icon-email:before {
	content: "\e93b";
}

.icon-phone:before {
	content: "\e93c";
}

.icon-call:before {
	content: "\e93d";
}

.icon-notif:before {
	content: "\e93e";
}

.icon-move:before {
	content: "\e93f";
}

.icon-unfold-more:before {
	content: "\e940";
}

.icon-edit:before {
	content: "\e941";
}

.icon-add:before {
	content: "\e942";
}

.icon-add-circle:before {
	content: "\e943";
}

.icon-remove:before {
	content: "\e944";
}

.icon-remove-circle:before {
	content: "\e945";
}

.icon-filter:before {
	content: "\e946";
}

.icon-mic:before {
	content: "\e947";
}

.icon-attach:before {
	content: "\e948";
}

.icon-emoji:before {
	content: "\e949";
}

.icon-cancel:before {
	content: "\e94a";
}

.icon-close:before {
	content: "\e94b";
}

.icon-menu:before {
	content: "\e94c";
}

.icon-more-h:before {
	content: "\e94d";
}

.icon-more-v:before {
	content: "\e94e";
}

.icon-send:before {
	content: "\e94f";
}

.icon-sync:before {
	content: "\e950";
}

.icon-refresh:before {
	content: "\e951";
}

.icon-person-add:before {
	content: "\e952";
}

.icon-group:before {
	content: "\e953";
}

.icon-group-add:before {
	content: "\e954";
}

.icon-done:before {
	content: "\e955";
}

.icon-checklist:before {
	content: "\e956";
}

.icon-checkbox:before {
	content: "\e957";
}

.icon-list:before {
	content: "\e958";
}

.icon-flag:before {
	content: "\e959";
}

.icon-click:before {
	content: "\e95a";
}

.icon-mouse:before {
	content: "\e95b";
}

.icon-align-right:before {
	content: "\e95c";
}

.icon-underlined:before {
	content: "\e95d";
}

.icon-align-center:before {
	content: "\e95e";
}

.icon-align-left:before {
	content: "\e95f";
}

.icon-through:before {
	content: "\e960";
}

.icon-italic:before {
	content: "\e961";
}

.icon-bold:before {
	content: "\e962";
}

.icon-table:before {
	content: "\e963";
}

.icon-view-grid:before {
	content: "\e964";
}

.icon-verified:before {
	content: "\e965";
}

.icon-play:before {
	content: "\e966";
}

.icon-pause:before,
.playing .icon-play:before {
	content: "\e967";
}

.icon-mic-off:before {
	content: "\e968";
}

.icon-star:before {
	content: "\e969";
}

.icon-star-outline:before {
	content: "\e96a";
}

.icon-coin1:before {
	content: "\e96b";
}

.icon-calculate:before {
	content: "\e96c";
}

.icon-long-arrow-right:before {
	content: "\e96d";
}

.icon-tik-tok:before {
	content: "\e96e";
}

.icon-youtube:before {
	content: "\e96f";
}

.icon-whatsapp:before {
	content: "\e970";
}

.icon-instagram:before {
	content: "\e971";
}

.icon-telegram:before {
	content: "\e972";
}

.icon-twitter:before {
	content: "\e973";
}

.icon-facebook:before {
	content: "\e974";
}

.icon-vk:before {
	content: "\e975";
}

.icon-kaspi:before {
	content: "\e976";
}

.icon-stream:before {
	content: "\e977";
}

.icon-quote:before {
	content: "\e978";
}

.icon-gift:before {
	content: "\e979";
}

.icon-shield:before {
	content: "\e97a";
}

.icon-server:before {
	content: "\e97b";
}

.header {
	display: flex;
	align-items: center;
	padding-bottom: 8rem;
}

.header__logo {
	font-size: 2rem;
	color: var(--theme);
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__icons {
	display: flex;
	gap: 2rem;
}

.header__icon {
	height: 40px;
	width: 40px;
	background-color: var(--theme);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

.header__icon:hover {
	font-size: 2.3rem;
}

.nav {
	margin-top: 1rem;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
}

.nav__item {
	color: var(--light);
	font-weight: 400;
	padding: 2rem 0;
}

.header-block {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.header-block--center {
	align-items: center;
}

.header-block--right {
	align-items: end;
}

.header-block__description {
	max-width: 64rem;
	font-size: var(--fz);
	font-weight: 200;
	border-left: 2px solid var(--theme);
	padding-left: 2rem;
}

.header-block__subtitle {
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 400;
	border-left: 2px solid var(--theme);
	padding-left: 2rem;
}

.header-block__title {
	font-size: 4rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

@media (max-width: 576px) {
	.header-block__subtitle {
		text-align: center;
	}
	.header-block__title {
		text-align: center;
	}
}

.first-slide__wrapper {
	display: flex;
	gap: 2rem;
	justify-content: space-between;
}

.first-slide__label {
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.first-slide__items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 120px;
	gap: 2rem;
}

.first-slide__item {
	width: 210px;
}

.first-slide__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.first-slide__item:first-child {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 4;
}

.first-slide__item:nth-child(2) {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.first-slide__item:nth-child(3) {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 4;
	grid-row-end: 5;
}

.first-slide__item:last-child {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 5;
}

.first-slide__buttons {
	display: flex;
	justify-content: space-between;
}

.about__wrapper {
	display: flex;
	gap: 5rem;
}

.about__label {
	display: flex;
	flex-direction: column;
	width: 60%;
	justify-content: space-between;
}

.about__content {
	margin-top: 8rem;
	display: flex;
	gap: 3rem;
}

.about__item {
	display: flex;
	gap: 3rem;
	justify-content: flex-start;
}

.about__number {
	font-size: 7rem;
	font-weight: 600;
	color: var(--theme);
	line-height: 90%;
	width: 20%;
}

.about__items {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about__text {
	width: 50%;
}

.about__photo {
	position: relative;
}

.about__photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.about__stample {
	position: absolute;
	top: -8rem;
	left: -8rem;
}

.about__blur {
	position: absolute;
	background-color: transparent;
	backdrop-filter: blur(15px);
	width: 90%;
	height: 20rem;
	left: 10%;
	bottom: -10rem;
}

/*# sourceMappingURL=theme.css.map */