@charset "UTF-8";
html {
	font-size: 0.4vw;
	font-family: var(--font);
}

/* Указываем box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
	padding: 0;
}

body {
	font-family: var(--font);
	font-size: var(--fz);
	font-weight: 300;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

h5,
.h5,
h6,
.h6 {
	font-weight: 400;
}

a,
a:visited {
	color: inherit;
	text-decoration: none;
	transition: 0.2s;
	cursor: pointer;
}

a.underline,
a:visited.underline {
	color: var(--blue);
	border-bottom: 1px dashed var(--blue-focus);
}

a.underline:hover,
a:visited.underline:hover {
	color: var(--red);
	border-color: var(--red-focus);
}

a.focus:focus,
a:visited.focus:focus {
	box-shadow: 0 0 0 4px var(--focus);
}

a.text-color,
a:visited.text-color {
	color: var(--text);
}

a.more,
a:visited.more {
	font-weight: 500;
	display: flex;
	align-items: baseline;
	border-bottom: 1px dashed transparent;
	width: fit-content;
}

a.more span,
a:visited.more span {
	margin-left: 1rem;
	font-size: 70%;
	transition: 0.3s;
}

a.more:hover,
a:visited.more:hover {
	border-color: var(--theme);
	color: var(--dark);
}

a.more:hover span,
a:visited.more:hover span {
	transform: translateX(50%);
}

a.text,
a:visited.text {
	color: var(--text);
}

a.text:hover,
a:visited.text:hover {
	color: var(--theme);
}

a.db,
a:visited.db {
	display: block;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
	list-style: none;
}

button,
input,
textarea {
	font-family: var(--font);
}

section {
	position: relative;
	padding-bottom: 10rem;
}

section:not(:first-child) {
	padding-top: 10rem;
}

section:nth-child(5) {
	overflow: hidden;
}

footer {
	padding: 8rem 0;
}

text {
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 6px;
	fill: var(--theme);
	font-weight: 500;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	padding: 1.5rem 2.5rem;
	border: none;
	font-size: 1.3rem;
	cursor: pointer;
	font-weight: 300;
	background-color: var(--theme);
	color: #fff;
}

.button--lg-text {
	font-size: 1.7rem;
}

.button--light {
	background-color: #eeeeef;
	font-size: 1.3rem;
	border: none;
	padding: 1.5rem 2rem;
}

.button--light:hover {
	font-size: 1.4rem;
}

.button__icon {
	margin-left: 2.5rem;
}

.button:hover {
	font-size: 1.4rem;
}

.button:visited {
	color: #fff;
}

.gm-dark {
	background-color: var(--gray);
}

.gm-article {
	margin-bottom: 8rem;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
	margin-top: 1em;
}

.article:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup) {
	margin-bottom: 2rem;
}

.article:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bm {
	margin-bottom: 3rem;
}

.article:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn) {
	border-bottom: 1px solid var(--border);
	padding-bottom: 2rem;
}

.article:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).bm {
	padding-bottom: 3rem;
}

.article:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).small-pb {
	padding-bottom: 1rem;
}

.article:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).mt {
	margin-top: auto;
}

.article.all-mb > *:not(.mb0) {
	margin-bottom: 2rem;
}

.article.all-mb > *:not(.mb0).bm {
	margin-bottom: 3rem;
}

.article.all-mb > *:not(.mb0).bordered {
	border-bottom: 1px solid var(--border);
	padding-bottom: 2rem;
}

.article.all-mb > *:not(.mb0).bordered.bm {
	padding-bottom: 3rem;
}

.article.half {
	width: var(--article-half);
}

.article.center {
	width: var(--article-half);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.article-mc:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup) {
	margin-bottom: 0.3rem;
}

.article-mc:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bm {
	margin-bottom: 0.6rem;
}

.article-mc:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn) {
	border-bottom: 1px solid var(--border);
	padding-bottom: 0.3rem;
}

.article-mc:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).bm {
	padding-bottom: 0.6rem;
}

.article-mc:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).small-pb {
	padding-bottom: 0.15rem;
}

.article-mc:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).mt {
	margin-top: auto;
}

.article-mc.all-mb > *:not(.mb0) {
	margin-bottom: 0.3rem;
}

.article-mc.all-mb > *:not(.mb0).bm {
	margin-bottom: 0.6rem;
}

.article-mc.all-mb > *:not(.mb0).bordered {
	border-bottom: 1px solid var(--border);
	padding-bottom: 0.3rem;
}

.article-mc.all-mb > *:not(.mb0).bordered.bm {
	padding-bottom: 0.6rem;
}

.article-mc.half {
	width: var(--article-half);
}

.article-mc.center {
	width: var(--article-half);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.article-sm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup) {
	margin-bottom: 1rem;
}

.article-sm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bm {
	margin-bottom: 2rem;
}

.article-sm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn) {
	border-bottom: 1px solid var(--border);
	padding-bottom: 1rem;
}

.article-sm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).bm {
	padding-bottom: 2rem;
}

.article-sm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).small-pb {
	padding-bottom: 0.5rem;
}

.article-sm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).mt {
	margin-top: auto;
}

.article-sm.all-mb > *:not(.mb0) {
	margin-bottom: 1rem;
}

.article-sm.all-mb > *:not(.mb0).bm {
	margin-bottom: 2rem;
}

.article-sm.all-mb > *:not(.mb0).bordered {
	border-bottom: 1px solid var(--border);
	padding-bottom: 1rem;
}

.article-sm.all-mb > *:not(.mb0).bordered.bm {
	padding-bottom: 2rem;
}

.article-sm.half {
	width: var(--article-half);
}

.article-sm.center {
	width: var(--article-half);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.article-nm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup) {
	margin-bottom: 1.5rem;
}

.article-nm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bm {
	margin-bottom: 2.5rem;
}

.article-nm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn) {
	border-bottom: 1px solid var(--border);
	padding-bottom: 1.5rem;
}

.article-nm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).bm {
	padding-bottom: 2.5rem;
}

.article-nm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).small-pb {
	padding-bottom: 0.75rem;
}

.article-nm:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).mt {
	margin-top: auto;
}

.article-nm.all-mb > *:not(.mb0) {
	margin-bottom: 1.5rem;
}

.article-nm.all-mb > *:not(.mb0).bm {
	margin-bottom: 2.5rem;
}

.article-nm.all-mb > *:not(.mb0).bordered {
	border-bottom: 1px solid var(--border);
	padding-bottom: 1.5rem;
}

.article-nm.all-mb > *:not(.mb0).bordered.bm {
	padding-bottom: 2.5rem;
}

.article-nm.half {
	width: var(--article-half);
}

.article-nm.center {
	width: var(--article-half);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.article-md:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup) {
	margin-bottom: 3rem;
}

.article-md:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bm {
	margin-bottom: 4rem;
}

.article-md:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn) {
	border-bottom: 1px solid var(--border);
	padding-bottom: 3rem;
}

.article-md:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).bm {
	padding-bottom: 4rem;
}

.article-md:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).small-pb {
	padding-bottom: 1.5rem;
}

.article-md:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).mt {
	margin-top: auto;
}

.article-md.all-mb > *:not(.mb0) {
	margin-bottom: 3rem;
}

.article-md.all-mb > *:not(.mb0).bm {
	margin-bottom: 4rem;
}

.article-md.all-mb > *:not(.mb0).bordered {
	border-bottom: 1px solid var(--border);
	padding-bottom: 3rem;
}

.article-md.all-mb > *:not(.mb0).bordered.bm {
	padding-bottom: 4rem;
}

.article-md.half {
	width: var(--article-half);
}

.article-md.center {
	width: var(--article-half);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.article-bg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup) {
	margin-bottom: 4rem;
}

.article-bg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bm {
	margin-bottom: 5rem;
}

.article-bg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn) {
	border-bottom: 1px solid var(--border);
	padding-bottom: 4rem;
}

.article-bg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).bm {
	padding-bottom: 5rem;
}

.article-bg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).small-pb {
	padding-bottom: 2rem;
}

.article-bg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).mt {
	margin-top: auto;
}

.article-bg.all-mb > *:not(.mb0) {
	margin-bottom: 4rem;
}

.article-bg.all-mb > *:not(.mb0).bm {
	margin-bottom: 5rem;
}

.article-bg.all-mb > *:not(.mb0).bordered {
	border-bottom: 1px solid var(--border);
	padding-bottom: 4rem;
}

.article-bg.all-mb > *:not(.mb0).bordered.bm {
	padding-bottom: 5rem;
}

.article-bg.half {
	width: var(--article-half);
}

.article-bg.center {
	width: var(--article-half);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.article-lg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup) {
	margin-bottom: 6rem;
}

.article-lg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bm {
	margin-bottom: 7rem;
}

.article-lg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn) {
	border-bottom: 1px solid var(--border);
	padding-bottom: 6rem;
}

.article-lg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).bm {
	padding-bottom: 7rem;
}

.article-lg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).bordered:not(.btn).small-pb {
	padding-bottom: 3rem;
}

.article-lg:not(.all-mb) > *:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup).mt {
	margin-top: auto;
}

.article-lg.all-mb > *:not(.mb0) {
	margin-bottom: 6rem;
}

.article-lg.all-mb > *:not(.mb0).bm {
	margin-bottom: 7rem;
}

.article-lg.all-mb > *:not(.mb0).bordered {
	border-bottom: 1px solid var(--border);
	padding-bottom: 6rem;
}

.article-lg.all-mb > *:not(.mb0).bordered.bm {
	padding-bottom: 7rem;
}

.article-lg.half {
	width: var(--article-half);
}

.article-lg.center {
	width: var(--article-half);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container {
	width: 70vw;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
}

@media (max-width: 321px) {
	.container {
		max-width: 100vw;
	}
	html {
		font-size: 3vw;
	}
}

@media (min-width: 321px) and (max-width: 576px) {
	.container {
		max-width: 100vw;
	}
	html {
		font-size: 2.4vw;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.container {
		max-width: 98vw;
	}
	html {
		font-size: 1.64vw;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.container {
		max-width: 98vw;
	}
	html {
		font-size: 1.12vw;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.container {
		max-width: 98vw;
	}
	html {
		font-size: 0.78vw;
	}
}

@media (min-width: 1200px) and (max-width: 1599.98px) {
	.container {
		max-width: 96vw;
	}
	html {
		font-size: 0.78vw;
	}
}

@media (min-width: 1600px) {
	.container {
		max-width: 80vw;
	}
	html {
		font-size: 0.70vw;
	}
}

/*# sourceMappingURL=global.css.map */