:root {
	--font: Montserrat,
    sans-serif;
	--fz: 1.5rem;
	--small: calc(var(--fz) * 0.9);
	--v-small: calc(var(--fz) * 0.8);
	--large: calc(var(--fz) * 1.1);
	--v-large: calc(var(--fz) * 1.2);
	--theme: #024a85;
	--text: #0f0d0d;
	--light: #99999b;
	--dark: #000000;
	--gray: #eeeeef;
	--large: calc(var(--fz) * 1.1);
}

/*# sourceMappingURL=variable.css.map */