.header-block {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.header-block--center {
	align-items: center;
}

.header-block--right {
	align-items: end;
}

.header-block__description {
	max-width: 64rem;
	font-size: var(--fz);
	font-weight: 200;
	border-left: 2px solid var(--theme);
	padding-left: 2rem;
}

.header-block__subtitle {
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 400;
	border-left: 2px solid var(--theme);
	padding-left: 2rem;
}

.header-block__title {
	font-size: 4rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

@media (max-width: 576px) {
	.header-block__subtitle {
		text-align: center;
	}
	.header-block__title {
		text-align: center;
	}
}

.first-slide__wrapper {
	display: flex;
	gap: 2rem;
	justify-content: space-between;
}

.first-slide__label {
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.first-slide__items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 120px;
	gap: 2rem;
}

.first-slide__item {
	width: 210px;
}

.first-slide__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.first-slide__item:first-child {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 4;
}

.first-slide__item:nth-child(2) {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.first-slide__item:nth-child(3) {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 4;
	grid-row-end: 5;
}

.first-slide__item:last-child {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 5;
}

.first-slide__buttons {
	display: flex;
	justify-content: space-between;
}

.about__wrapper {
	display: flex;
	gap: 5rem;
}

.about__label {
	display: flex;
	flex-direction: column;
	width: 60%;
	justify-content: space-between;
}

.about__content {
	margin-top: 8rem;
	display: flex;
	gap: 3rem;
}

.about__item {
	display: flex;
	gap: 3rem;
	justify-content: flex-start;
}

.about__number {
	font-size: 7rem;
	font-weight: 600;
	color: var(--theme);
	line-height: 90%;
	width: 20%;
}

.about__items {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about__text {
	width: 50%;
}

.about__photo {
	position: relative;
}

.about__photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.about__stample {
	position: absolute;
	top: -8rem;
	left: -8rem;
}

.about__blur {
	position: absolute;
	background-color: transparent;
	backdrop-filter: blur(15px);
	width: 90%;
	height: 20rem;
	left: 10%;
	bottom: -10rem;
}

/*# sourceMappingURL=blocks.css.map */