.header {
	display: flex;
	align-items: center;
	padding-bottom: 8rem;
}

.header__logo {
	font-size: 2rem;
	color: var(--theme);
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__icons {
	display: flex;
	gap: 2rem;
}

.header__icon {
	height: 40px;
	width: 40px;
	background-color: var(--theme);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

.header__icon:hover {
	font-size: 2.3rem;
}

.nav {
	margin-top: 1rem;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
}

.nav__item {
	color: var(--light);
	font-weight: 400;
	padding: 2rem 0;
}

/*# sourceMappingURL=header.css.map */