html {
    font-size: 0.4vw;
    font-family: var(--font);
}

/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

body {
    font-family: var(--font);
    font-size: var(--fz);
    font-weight: 300;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

h5,
.h5,
h6,
.h6 {
    font-weight: 400;
}


a,
a:visited {
    color: inherit;
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;

    &.underline {
        color: var(--blue);
        border-bottom: 1px dashed var(--blue-focus);

        &:hover {
            color: var(--red);
            border-color: var(--red-focus);
        }

    }

    &.focus:focus {
        box-shadow: 0 0 0 4px var(--focus);
    }

    &.text-color {
        color: var(--text);
    }


    &.more {
        font-weight: 500;
        display: flex;
        align-items: baseline;
        border-bottom: 1px dashed transparent;
        width: fit-content;

        span {
            margin-left: 1rem;
            font-size: 70%;
            transition: 0.3s;
        }

        &:hover {
            border-color: var(--theme);
            color: var(--dark);

            span {
                transform: translateX(50%);
            }

        }

    }

    &.text {
        color: var(--text);

        &:hover {
            color: var(--theme);
        }

    }

    &.db {
        display: block;
    }

}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

button,
input,
textarea {
    font-family: var(--font);
}

section {
    position: relative;
    padding-bottom: 10rem;

    &:not(:first-child) {
        padding-top: 10rem;
    }

    &:nth-child(5) {
        overflow: hidden;
    }
}

footer {
    padding: 8rem 0;
}

text {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 6px;
    fill: var(--theme);
    font-weight: 500;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 1.5rem 2.5rem;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 300;
    background-color: var(--theme);
    color: #fff;

    &--lg-text {
        font-size: 1.7rem;
    }

    &--light {
        background-color: #eeeeef;
        font-size: 1.3rem;
        border: none;
        padding: 1.5rem 2rem;

        &:hover {
            font-size: 1.4rem;
        }

    }

    &__icon {
        margin-left: 2.5rem;
    }

    &:hover {
        font-size: 1.4rem;
    }

    &:visited {
        color: #fff;
    }

}

.gm-dark {
    background-color: var(--gray);
}


.gm-article {
    margin-bottom: 8rem;
}



/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}




@mixin article($m, $bm) {

    &:not(.all-mb) {

        &>*:not(:last-child):not(.mb0):not(.dashboard-sidebar-popup) {
            margin-bottom: $m;

            &.bm {
                margin-bottom: $bm;
            }

            &.bordered:not(.btn) {
                border-bottom: 1px solid var(--border);
                padding-bottom: $m;

                &.bm {
                    padding-bottom: $bm;
                }

                &.small-pb {
                    padding-bottom: $m / 2;
                }

            }

            &.mt {
                margin-top: auto;
            }

        }

    }

    &.all-mb {

        &>*:not(.mb0) {
            margin-bottom: $m;

            &.bm {
                margin-bottom: $bm;
            }

            &.bordered {
                border-bottom: 1px solid var(--border);
                padding-bottom: $m;

                &.bm {
                    padding-bottom: $bm;
                }

            }

        }

    }

    &.half {
        width: var(--article-half);
    }

    &.center {
        width: var(--article-half);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

}

.article {
    @include article(2rem, 3rem);

    &-mc {
        @include article(0.3rem, 0.6rem);
    }

    &-sm {
        @include article(1rem, 2rem);
    }

    &-nm {
        @include article(1.5rem, 2.5rem);
    }

    &-md {
        @include article(3rem, 4rem);
    }

    &-bg {
        @include article(4rem, 5rem);
    }

    &-lg {
        @include article(6rem, 7rem);
    }

}


.container {
    width: 70vw;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

// Малые девайсы («ландшафтные», >= 92px)
@media (max-width: 321px) {
    .container {
        max-width: 100vw;
    }

    html {
        font-size: 3vw;
    }

}

// Малые девайсы («ландшафтные», >= 320px)
@media (min-width: 321px) and (max-width: 576px) {
    .container {
        max-width: 100vw;
    }

    html {
        font-size: 2.4vw;
    }

}

// Малые девайсы («ландшафтные», >= 575px)
@media (min-width: 576px) and (max-width: 767.98px) {
    .container {
        max-width: 98vw;
    }

    html {
        font-size: 1.64vw;
    }

}

// Средние девайсы («таблетки», >= 768px) 
@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        max-width: 98vw;
    }

    html {
        font-size: 1.12vw;
    }

}

// Большие девайсы (большие десктопы, >= 992px)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        max-width: 98vw;
    }

    html {
        font-size: 0.78vw;
    }

}

// Большие девайсы (большие десктопы, >= 1200px)
@media (min-width: 1200px) and (max-width: 1599.98px) {
    .container {
        max-width: 96vw;
    }

    html {
        font-size: 0.78vw;
    }

}

@media (min-width: 1600px) {
    .container {
        max-width: 80vw;
    }

    html {
        font-size: 0.70vw;
    }

}