$text: #0f0d0d;
$theme: #024a85;
$light: #99999b;
$dark: #000000;
$gray: #eeeeef;
$font: 'Montserrat';


:root {
    --font: #{$font},
    sans-serif;


    // Размеры шрифтов
    --fz: 1.5rem;
    --small: calc(var(--fz) * 0.9);
    --v-small: calc(var(--fz) * 0.8);
    --large: calc(var(--fz) * 1.1);
    --v-large: calc(var(--fz) * 1.2);

    --theme: #{$theme};
    --text: #{$text};
    --light: #{$light};
    --dark: #{$dark};
    --gray: #{$gray};

    --large: calc(var(--fz) * 1.1);
}